/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/


/************************************ FONTS ************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
	font-family: 'icomoon';
	src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot');
	src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/************************************* END FONTS *************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

body {
	background: #1f253d!important;
}

ul {
	list-style-type: none!important;
	margin: 0!important;
	padding-left: 0!important;
}

h1 {
	font-size: 23px!important;
}

h2 {
	font-size: 17px!important;
}

p {
	font-size: 15px!important;
}

a {
	text-decoration: none!important;
	font-size: 15px!important;
}
	a:hover {
		text-decoration: underline!important;
	}

h1, h2, p, a, span, label{
	color: #fff!important;
}
	.scnd-font-color {
		color: #9099b7!important;
	}

.input-container {
	position: relative!important;
}
	input[type=text]{
		width: 260px!important;
		height: 50px!important;
		margin-left: 20px!important;
		margin-bottom: 20px!important;
		padding-left: 45px!important;
		background: #50597b!important;
		color: #fff!important;
		border: solid 1px #1f253d!important;
		border-radius: 5px!important;		
	}
		input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
	   		color: #fff!important;	   		
	   	}
		input[type=text]:-moz-input-placeholder { /* Mozilla Firefox 4 to 18 */
	   		color: #fff!important;	   
	   	}
		input[type=text]::-moz-input-placeholder { /* Mozilla Firefox 19+ */
	   		color: #fff!important;
	   	}
		input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
	   		color: #fff!important;	   	
	   	}
	   	input[type=text]:focus {
	   		outline: none!important; /* removes the default orange border when focus */
	   		border: 1px solid #11a8ab!important;
	   	}

.horizontal-list {
	margin: 0!important;
	padding: 0!important;
	list-style-type: none!important;
}
	.horizontal-list li {
		float: left!important;
	}

.clear {
	clear: both!important;
}

.icon {
	font-size: 25px!important;
}

.titular {
	display: block!important;
	line-height: 60px!important;
	margin: 0!important;
	text-align: center!important;
	border-top-left-radius: 5px!important;
	border-top-right-radius: 5px!important;
}

.button {
	display: block!important;
	width: 175px!important;
	line-height: 50px!important;
	font-size: 16px!important;
	font-weight: 700!important;
	text-align: center!important;
	margin: 0 auto!important;
	border-radius: 5px!important;
	-webkit-transition: background .3s!important;
	transition: background .3s!important;
}
	.button:hover {
		text-decoration: none!important;
	}


.profile-picture {
	overflow: hidden!important;
	-webkit-box-sizing: content-box!important;
  	-moz-box-sizing: content-box!important;
  	box-sizing: content-box!important;	
}
	.big-profile-picture {
		margin: 0 auto!important;		
		border: 5px solid #50597b!important;
		width: 150px!important;
		height: 150px!important;
	}


/** MAIN CONTAINER **/

.main-container {
	font-family: 'Ubuntu', sans-serif!important;
	width: 950px!important;
	height: 1725px!important;
	margin: 6em auto!important;
}	
	
	/** CONTAINERS **/
	.container {
		float: left!important;
		width: 300px!important;
	}
		.block {
			margin-bottom: 25px!important;
			background: #394264!important;
			border-radius: 5px!important;
		}

        /************************************************** TOP CONTAINER **********************************/
		.top-container {
			width: 950!important;
		}
            .left {
                background-color:#fefefe!important;
                width:50% !important!important;
                display:inline-block!important;
                float:left!important;
                height:100%!important;
              }
              .right {
                background-color:black!important;
                width:50%!important;
                display:inline-block!important;
                float:left!important;
                height:100%!important;
                background-size: cover!important;
                
              }
			.profile {
				padding-bottom: 10px!important;
			}
            .bottom {
                text-align:center!important;
              }
              
              .bottom a {/*Created April 15, 2014 // Updated April 21, 2014 by Vitality*/
              -webkit-transition: all 600ms cubic-bezier(0.0, 0.0, 0.0, 1.360)!important;
                  -moz-transition: all 600ms cubic-bezier(0.0, 0.0, 0.0, 1.360)!important;
                  -ms-transition: all 600ms cubic-bezier(0.0, 0.0, 0.0, 1.360)!important;
                  -o-transition: all 600ms cubic-bezier(0.0, 0.0, 0.0, 1.0)!important;
                  transition: all 600ms cubic-bezier(0.0, 0.0, 0.0, 1.0)!important;
                  display: block!important;
                  margin: 20px auto!important;
                  max-width: 150px!important;
                  text-decoration: none!important;
                  border-radius: 4px!important;
                  padding: 15px 0px!important;
              }
              
              .bottom a  {/*Created April 15, 2014 // Updated April 21, 2014 by Vitality*/
                  color: rgba(0, 0, 0, 1)!important;
                  box-shadow: rgba(0, 0, 0, 1) 0 0px 0px 2px inset!important;
              }
              
              .bottom a:hover {/*Created April 15, 2014 // Updated April 21, 2014 by Vitality*/
                  color: rgba(255, 255, 255, 1)!important;
                  box-shadow: rgba(0, 0, 0, 1) 0 80px 0px 2px inset!important;
              }
				.user-name {
					margin: 25px 0 16px!important;
                    color: #f9f9fa!important;
					text-align: center!important;
				}
                .hashtag {
                    color: #9099b7!important;
                }
				.profile-description {
					width: 910px!important;
					margin: 0 auto!important;
                    padding: 10px!important;
					text-align: center!important;
				}
				.profile-options {
					padding-top: 23px!important;
				}
					.profile-options li {
						border-left: 1px solid #1f253d!important;
					}
						.profile-options p {
							margin: 0!important;
						}
						.profile-options a {
							display: block!important;					
							width: 99px!important;
							line-height: 60px!important;
							text-align: center!important;
							-webkit-transition: background .3s!important;
							transition: background .3s!important;				
						}
							.profile-options a:hover {
								text-decoration: none!important;
								background: #50597b!important;
							}
							.profile-options .icon {
								padding-right: 10px!important;
							}
							.profile-options .comments {
								border-top: 4px solid #fcb150!important;
							}
							.profile-options .views {
								border-top: 4px solid #11a8ab!important;
							}
							.profile-options .likes {
								border-top: 4px solid #e64c65!important;
							}


		/******************************************** LEFT CONTAINER *****************************************/
		.left-container {}
        .vcard {
            padding: 1px 0 1px 0!important;
          }
          
          .vertical, .vcontact {
            font-style: bold!important;
            text-align: center!important;
            margin: 40px auto 40px auto!important;
            color: #fff!important;
          }

		
			/************************************************** MIDDLE CONTAINER **********************************/
		.middle-container {
			margin: 0 25px!important;		
		}


			.menu-box {
			}
				.menu-box .titular {
					background: #11a8ab!important;
				}
				.menu-box-menu .icon {
					display: inline-block!important;
					width: 28px!important;
					font-size: 25px!important;
					margin-left: 20px!important;
					margin-right: 15px!important;
				}
				.menu-box-number {
					line-height: 22px!important;
					background: #50597b!important;
					text-align: center!important;
					border-radius: 9px!important;
					position: absolute!important;
					top: 18px!important;
					right: 15px!important;
					-webkit-transition: all .3s!important;
					transition: all .3s!important;
				}
				.menu-box-menu li{
					height: 60px!important;
					position: relative!important;										
				}
				.menu-box-tab {
					line-height: 60px!important;
					display: block!important;
					border-bottom: 1px solid #1f253d!important;
					-webkit-transition: background .2s!important;
					transition: background .2s!important;
				}
					.menu-box-tab:hover {
						background: #50597b!important;
						border-top: 1px solid #1f253d!important;
						text-decoration: none!important;
					}
					.menu-box-tab:hover .icon {
						color: #fff!important;
					}
					.menu-box-tab:hover .menu-box-number {
						background: #e64c65!important;
					}
		/********************************************* RIGHT CONTAINER ****************************************/
		.right-container {}

        .peolpe-list {
            list-style-type: none!important;
            margin: 1em 0!important;
            padding: 0!important;
          }
           
          .people-li {
            font-size: 15px!important;
            color: white!important;
            padding: 5px 0 2px 5px!important;
            border-bottom: 1px solid #ccc!important;
          }
           
          li:last-child {
            border: none!important;
            margin-bottom: 15px!important;
          }
		  .right-container .social {
				height: 205px!important;
				background: #1f253d!important;
			}
				.right-container .social li {
					margin-bottom: 12px!important;
				}
				.right-container .social a {
					line-height: 60px!important;			
				}
					.right-container .social a:hover {
						text-decoration: none!important;
					}
					.right-container .social .titular {
						border-radius: 5px!important;
					}
						.right-container .social .facebook {
							background: #3468af!important;
							-webkit-transition: background .3s!important;
							transition: background .3s!important;
						}
							.right-container .social a:hover .facebook {
								background: #1a4e95!important;
							}
							.right-container .social a:hover .icon.facebook {
								background: #3468af!important;
							}
						.right-container .social .twitter {
							background: #4fc4f6!important;
							-webkit-transition: background .3s!important;
							transition: background .3s!important;
						}
							.right-container .social a:hover .twitter {
								background: #35aadc!important;
							}
							.right-container .social a:hover .icon.twitter {
								background: #4fc4f6!important;
							}
						.right-container .social .googleplus {
							background: #e64c65!important;
							-webkit-transition: background .3s!important;
							transition: background .3s!important;
						}
							.right-container .social a:hover .googleplus {
								background: #cc324b!important;
							}
							.right-container .social a:hover .icon.googleplus {
								background: #e64c65!important;
							}
				.right-container .social .icon {
					float: left!important;
					width: 60px!important;
					height: 60px!important;
					text-align: center!important;
					font-size: 20px!important;
					border-bottom-left-radius: 5px!important;
					border-top-left-radius: 5px!important;
				}
					.right-container .social .icon.facebook {
						background: #1a4e95!important;						
					}
					.right-container .social .icon.twitter {
						background: #35aadc!important;						
					}
					.right-container .social .icon.googleplus {
						background: #cc324b!important;						
					}



    .m-d.expand-list{
        margin: 0!important;
		padding: 0 5px 0 5px!important;
    }
    .m-d.expand-list > li{
        list-style-type: none!important;
        padding: 15px 0!important;
        border-bottom: 1px solid #212121!important;
        position: relative!important;
/*         max-width: 80%!important; */
    }
    .m-d label[class^="tab"]:hover{
        cursor: pointer!important;
    }
    .m-d input{
        -webkit-appearance: none!important;
        -moz-appearance: none!important;
        appearance: none!important;
    }
    .m-d input[class^="tab"]{
        width: 100%!important;
        height: 40px!important;
        position: absolute!important;
        left: 0!important;
        top: 0!important; 
    }
		.m-d input[class^="tab"]:hover{
			cursor: pointer!important;
		}
    .m-d label[class^="tab"]{
        font-weight: bold!important;
    }
    .m-d .content{
        height: auto!important;
		color: #fff!important;
        max-height: 0!important;
        max-width: 300px!important;
/*        background: yellow!important;*/
        overflow: hidden!important;
        transform: translateY(20px)!important;
        transition: all 180ms ease-in-out 0ms!important; 
    }
    .m-d li[data-md-content="100"] input[class^="tab"]:checked ~ .content{
        max-height: 100px!important;
        transition: all 150ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="200"] input[class^="tab"]:checked ~ .content{
        max-height: 200px!important;
        transition: all 200ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="300"] input[class^="tab"]:checked ~ .content{
        max-height: 300px!important;
        transition: all 250ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="400"] input[class^="tab"]:checked ~ .content{
        max-height: 400px!important;
        transition: all 250ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="500"] input[class^="tab"]:checked ~ .content{
        max-height: 500px!important;
        transition: all 250ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="600"] input[class^="tab"]:checked ~ .content{
        max-height: 600px!important;
        transition: all 250ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="700"] input[class^="tab"]:checked ~ .content{
        max-height: 700px!important;
        transition: all 300ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="800"] input[class^="tab"]:checked ~ .content{
        max-height: 800px!important;
        transition: all 300ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="900"] input[class^="tab"]:checked ~ .content{
        max-height: 900px!important;
        transition: all 300ms ease-in-out 0ms!important;
    }
    .m-d li[data-md-content="1000"] input[class^="tab"]:checked ~ .content{
        max-height: 1000px!important;
        transition: all 350ms ease-in-out 0ms!important;
    }
		.m-d li[data-md-content=""] input[class^="tab"]:checked ~ .content{
        max-height: 1000px!important;
        transition: all 250ms ease-in-out 0ms!important;
    }
    .m-d input[class^="tab"]:checked ~ .content{
    }
    
    .m-d .open-close-icon{
        display: inline-block!important;
        position: absolute!important;
        right: 20px!important;
        transform: translatey(2px)!important;
    }
    .m-d .open-close-icon span{
        position: absolute!important;
        left: 0!important;
    }
    .m-d .open-close-icon .entypo-minus{
        transform:rotate(-90deg)!important;
        transition: transform 150ms ease-in-out 0ms!important;
    }
    .m-d input[class^="tab"]:checked ~ .open-close-icon .entypo-minus{
        transform: rotate(0deg)!important;
        transition: transform 150ms ease-in-out 0ms!important;
    }
    .m-d .open-close-icon .entypo-plus{
        opacity: 1!important;
        transform:rotate(-90deg)!important;
        transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms!important;
    }
    .m-d input[class^="tab"]:checked ~ .open-close-icon .entypo-plus{
        opacity: 0!important;
        transform: rotate(0deg)!important;
        transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms!important; 
    }